@import "tailwindcss";

.note-editor {
  max-height: 40vh; 
  display: flex;
  flex-direction: column;
}
.note-editor .ql-editor {
  min-height: 150px !important;
  max-height: 350px !important;
  font-size: 16px !important;
  line-height: 1.7 !important;
  border-bottom-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
  overflow-y: auto !important;
}