@import "tailwindcss";

.note-editor .ql-toolbar {
  padding: 12px !important;
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.note-editor .ql-toolbar button {
  width: 30px !important;
  height: 30px !important;
}

.note-editor .ql-toolbar button svg {
  width: 20px !important;
  height: 20px !important;
}

.note-editor .ql-editor {
  min-height: 350px !important;
  font-size: 16px !important;
  line-height: 1.7 !important;
  border-bottom-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}

.note-editor .ql-editor.ql-blank::before {
  font-size: 16px !important;
  font-style: normal !important;
  color: #9ca3af !important;
}